<?xml version="1.0" encoding="UTF-8"?><launchConfiguration type="org.apache.geronimo.st.v30.core.launchConfigurationType">
<stringAttribute key="org.eclipse.debug.ui.ATTR_CAPTURE_IN_FILE" value="${workspace_loc}/geronimo.log"/>
<listAttribute key="org.eclipse.jdt.launching.CLASSPATH">
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&lt;runtimeClasspathEntry externalArchive=&quot;C:/ride-2.1.0/geronimo3/lib/agent&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&lt;runtimeClasspathEntry externalArchive=&quot;C:/ride-2.1.0/geronimo3/lib/classindex-3.1.0-20130311.095849-1.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&lt;runtimeClasspathEntry externalArchive=&quot;C:/ride-2.1.0/geronimo3/lib/commons-cli.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&lt;runtimeClasspathEntry externalArchive=&quot;C:/ride-2.1.0/geronimo3/lib/endorsed&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&lt;runtimeClasspathEntry externalArchive=&quot;C:/ride-2.1.0/geronimo3/lib/geronimo-cli.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&lt;runtimeClasspathEntry externalArchive=&quot;C:/ride-2.1.0/geronimo3/lib/geronimo-hook.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&lt;runtimeClasspathEntry externalArchive=&quot;C:/ride-2.1.0/geronimo3/lib/geronimo-main.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&lt;runtimeClasspathEntry externalArchive=&quot;C:/ride-2.1.0/geronimo3/lib/geronimo-rmi-loader.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&lt;runtimeClasspathEntry externalArchive=&quot;C:/ride-2.1.0/geronimo3/lib/karaf-jaas-boot.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&lt;runtimeClasspathEntry containerPath=&quot;org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/java6-ibm-sr9fp1-2011-02-08-windows_64&quot; path=&quot;1&quot; type=&quot;4&quot;/&gt;"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.DEFAULT_CLASSPATH" value="false"/>
<stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/java6-ibm-sr9fp1-2011-02-08-windows_64"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.apache.geronimo.cli.daemon.DaemonCLI"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="--long"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-javaagent:&quot;$(GERONIMO_HOME)/lib/agent/transformer.jar&quot; -Djava.ext.dirs=&quot;$(GERONIMO_HOME)/lib/ext;$(JRE_HOME)/lib/ext&quot; -Djava.endorsed.dirs=&quot;$(GERONIMO_HOME)/lib/endorsed;$(JRE_HOME)/lib/endorsed&quot; -Xms256m -Xmx512m -XX:MaxPermSize=128m -Dorg.apache.geronimo.home.dir=&quot;$(GERONIMO_HOME)&quot; -Dkaraf.home=&quot;$(GERONIMO_HOME)&quot; -Dkaraf.base=&quot;$(GERONIMO_HOME)&quot; -Djava.util.logging.config.file=&quot;$(GERONIMO_HOME)/etc/java.util.logging.properties&quot; -Dkaraf.startLocalConsole=false -Dkaraf.startRemoteShell=false"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${geronimo30_server_location}"/>
<stringAttribute key="server-id" value="org.apache.geronimo.server.30"/>
</launchConfiguration>